@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700);

body{
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 53vh;
  border-bottom: 5px solid white;
}

#layer{
  min-height: inherit;
  background: rgb(1,130,155,.25);
  }

section{
  padding: 2vh 0;
  }

#profile{
  max-width: 200px;
  max-height: 200px;
  margin-top: -100px;
  background: #eee;
  border: 5px solid white;
}

h1{
font-size: 8vh;
font-weight: 800;
}

h3{
    font-size: 4vh;
    font-weight: 100;
}

p{
  font-size: 20px;
  font-weight: 400;
}

/*Botones*/

 #botones{
   margin-top: 5vh;
}

.social{
color: white;
margin-right: 30px;
background-color: black;
font-size: 3vh;
padding: 10px 12px;
border:2px solid transparent;
border-radius: 100%;
transition: border-radius .5s;
}

.social:hover {
border-radius: 20% 20% 20% 20%;
transition: border-radius .5s;
transition: background-color 0s;
background-color: white;
color: black;
border:2px solid black;
}

.social:focus {
border-radius: 20% 20% 20% 20%;
transition: border-radius .5s;
transition: background-color 0s;
background-color: white;
color: black;
border:2px solid black;
}

.social:active {
border-radius: 20% 20% 20% 20%;
transition: border-radius .5s;
transition: background-color 0s;
background-color: white;
color: black;
border:2px solid black;
}

.btn-cv {
  background: white;
  border: 4px double black;
  color: black;
  transition: background 1s, color 1s;
  }

.btn-cv:hover {
  color: white;
  border: 4px double black;
  background: black;
  transition: background 1s, color 1s;
  }
.btn-cv:focus {
  color: white;
  border: 4px double black;
  background: black;
  transition: background 1s, color 1s;
  }
.btn-cv:active {
  color: white;
  border: 4px double black;
  background: black;
  transition: background 1s, color 1s;
  }
